In [ ]:
#Topic: Numpy-driven calculation

In [15]:
#TASK 1#

In [4]:
import numpy as np

In [5]:
array_5x2 = np.array([[1, 6],
                      [2, 8],
                      [3, 11],
                      [3, 10],
                      [1, 7]])

In [10]:
array_5x2_t = array_5x2.T
print(array_5x2_t)

<class 'numpy.ndarray'>

In [15]:
mean_0 = np.mean(array_5x2_t[0])
mean_1 = np.mean(array_5x2_t[1])   
mean_a = np.array([mean_0, mean_1])
print(mean_a)

[2.  8.4]

In [ ]:
#TASK 2#

In [18]:
a = np.array([[10, 10],
              [10, 10],
              [10, 10],
              [10, 10],
              [10, 10]])
a_centered = a - mean_a
print(a_centered)

[[8.  1.6]
 [8.  1.6]
 [8.  1.6]
 [8.  1.6]
 [8.  1.6]]

In [ ]:
#TASK 3#

In [24]:
a_centered_t = a_centered.T
a_centered_sp = np.dot(a_centered_t[0], a_centered_t[1])
print(a_sp)

63.999999999999986

In [25]:
div_factor = 1 / (len(a) - 1)
a_centered_sp_div = np.dot(a_centered_sp, div_factor)
print(a_centered_sp_div)

15.999999999999996

In [ ]:
#Topic: Pandas dataframes

In [ ]:
#TASK 1#

In [26]:
import pandas as pd

In [29]:
authors = pd.DataFrame({
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
})
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [30]:
book = pd.DataFrame({
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети',
                   'Рудин',
                   'Дворянское гнездо',
                   'Толстый и тонкий',
                   'Дама с собачкой',
                   'Гроза',
                   'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
})
print(book)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [ ]:
#TASK 2#

In [31]:
authors_price = pd.merge(authors, book, on='author_id')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [ ]:
#TASK 3#

In [34]:
top5 = authors_price.nlargest(5, 'price')
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [ ]:
#TASK 4#

In [55]:
authors_group = authors_price.groupby('author_name')
min_price = authors_group['price'].min()
max_price = authors_group['price'].max()
mean_price = authors_group['price'].mean()
authors_stat = pd.DataFrame({
    'min_price': min_price,
    'max_price': max_price,
    'mean_price': mean_price
})
print(authors_stat)

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000